trigger:
# Development
  branches:
    include:
     - Development

pool:
  vmImage: ubuntu-latest
  demands:
    - npm

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.13'
  displayName: 'Install Node.js'

- script: |
    npm install
    npm run build
  displayName: 'npm install and build'

- task: CopyFiles@2
  inputs:
    Contents: '.next/**' # Pull the build directory (React)
    TargetFolder: '$(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  inputs: 
    PathtoPublish: $(Build.ArtifactStagingDirectory) # dist or build files
    ArtifactName: 'www' # output artifact named www
