.hidden {
    display: none;
}
.container {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    flex-wrap: wrap;
}
.alignedButton {
    flex: 1 0 230px;
}
.aligned {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    flex-grow: 1;
}